argparse~=1.4.0
datasets~=2.12.0
torch~=2.6.0
tqdm~=4.65.0
transformers~=4.52.4
numpy~=1.26.4
pandas~=2.3.0
scipy~=1.15.3
regex~=2024.11.6
accelerate~=1.7.0
torch_geometric~=2.3.1
opt-einsum~=3.3.0
torch_scatter~=2.1.2+pt26cu124
torch_sparse~=0.6.18+pt26cu124
pathtools~=0.1.1
einops~=0.8.1
triton~=3.2.0
setuptools~=67.8.0
packaging~=23.0
torch_cluster~=1.6.3+pt26cu124
wandb~=0.15.5
deepspeed~=0.17.0