accelerate==1.7.0
aiofiles==22.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aiosignal==1.2.0
aiosqlite==0.18.0
annotated-types==0.7.0
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.0.5
async-timeout==4.0.2
attrs==22.1.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.13.4
binaryornot==0.4.4
bleach==4.1.0
blis==0.7.11
Bottleneck==1.3.6
brotlipy==0.7.0
cachetools==5.3.1
catalogue==2.0.10
certifi==2023.5.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
cloudpathlib==0.21.1
colorama==0.4.6
comm==0.1.2
command-not-found==0.3
confection==0.1.5
cookiecutter==1.7.3
cryptography==39.0.1
cymem==2.0.11
Cython==0.29.35
datasets==2.12.0
dbus-python==1.3.2
debugpy==1.5.1
decorator==5.1.1
deepspeed==0.17.0
defusedxml==0.7.1
dill==0.3.6
distro-info==1.7+build1
docker-pycreds==0.4.0
einops==0.8.1
entrypoints==0.4
executing==0.8.3
fairscale==0.4.13
fastjsonschema==2.16.2
filelock==3.9.0
fqdn==1.5.1
frozenlist==1.6.2
fsspec==2023.5.0
futures==3.0.5
gensim==3.6.0
gitdb==4.0.10
GitPython==3.1.31
gmpy2==2.2.1
hf-xet==1.1.3
hjson==3.1.0
huggingface-hub==0.30.0
idna==3.4
importlib-metadata==6.0.0
intel-cmplr-lib-ur==2025.1.1
intel-openmp==2025.1.1
ipykernel==6.20.2
ipython==8.21.0
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.18.1
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.2.0
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.7.0
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
langcodes==3.5.0
language_data==1.3.0
lightning-utilities==0.14.3
littleutils==0.2.2
loguru==0.5.3
lxml==5.4.0
Mako==1.3.2.dev0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==0.8.4
mkl==2025.1.0
mkl-service==2.4.2
mkl_fft==1.3.11
mkl_random==1.2.8
mpmath==1.2.1
msgpack==1.1.0
multidict==6.0.2
multiprocess==0.70.14
murmurhash==1.0.13
mypy-extensions==1.0.0
nbclassic==0.5.5
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==2.8.4
ninja==1.11.1
notebook_shim==0.2.4
numexpr==2.8.4
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.575.51
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
opt-einsum==3.3.0
outdated==0.2.2
overrides==7.7.0
packaging==25.0
pandas==2.3.0
pandocfilters==1.5.1
parso==0.8.3
pathtools==0.1.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pipdeptree==2.26.1
platformdirs==2.5.2
ply==3.11
portalocker==2.7.0
poyo==0.5.0
preshed==3.0.10
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==20.0.0
pycparser==2.21
pycuda==2024.1
pydantic==2.11.5
pydantic_core==2.33.2
pyg_lib==0.4.0+pt26cu124
Pygments==2.15.1
PyGObject==3.48.2
pyparsing==3.0.9
pyre-extensions==0.0.29
pyrsistent==0.18.0
python-apt==2.7.7+ubuntu4
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
python-slugify==5.0.2
pytools==2023.1.1
pytorch-lightning==2.5.1.post0
pytz==2022.7
PyYAML==6.0.1
pyzmq==26.4.0
regex==2024.11.6
requests==2.32.3
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
sacremoses==0.0.43
safetensors==0.4.3
scikit-learn==1.7.0
scipy==1.15.3
Send2Trash==1.8.0
sentencepiece==0.1.99
sentry-sdk==1.25.1
setproctitle==1.3.2
setuptools==67.8.0
shellingham==1.5.4
sip==6.6.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.4
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
stack-data==0.2.0
sympy==1.13.1
tabulate==0.9.0
tbb==2022.1.0
tcmlib==1.3.0
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
thinc==8.2.5
threadpoolctl==3.1.0
timm==0.9.2
tinycss2==1.2.1
tokenizers==0.21.1
toml==0.10.2
tomli==1.2.3
torch==2.6.0
torch_cluster==1.6.3+pt26cu124
torch_geometric==2.3.1
torch_scatter==2.1.2+pt26cu124
torch_sparse==0.6.18+pt26cu124
torch_spline_conv==1.2.2+pt26cu124
torchaudio==2.6.0
torchmetrics==1.0.0
torchvision==0.21.0
tornado==6.2
tqdm==4.65.0
traitlets==5.7.1
transformers==4.52.4
triton==3.2.0
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
ubuntu-pro-client==8001
ufw==0.36.2
umf==0.10.0
Unidecode==1.2.0
uri-template==1.3.0
urllib3==1.26.16
wandb==0.15.5
wasabi==1.1.3
wcwidth==0.2.5
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.42.0
widgetsnbextension==4.0.5
xxhash==2.0.2
y-py==0.5.9
yacs==0.1.8
yarl==1.20.0
zipp==3.11.0